body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
}
.site-container {
  min-height: 100vh; /*main content equal to the height of the screen*/
}

header {
  background-color: #011603;
  padding: 0.5rem;
}
header span {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

/*HOMESCREEN*/
main {
  padding: 1rem;
  min-height: calc(100vh - 18rem);
}
.btn-primary,
.btn-outline-primary {
  background-color: #ff938d;
  border: none;
  color: black;
  font-weight: 600;
}
.btn-primary:hover,
.btn-outline-primary:hover {
  background-color: #ff938d;
  opacity: 0.8;
  color: black;
}
.btn-primary:focus,
.btn-outline-primary:focus {
  background-color: #ff938d;
  opacity: 0.8;
  color: black;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product {
  border: 2px solid #011603;
  border-radius: 15px;
  margin: 0.5rem;
  min-height: 25rem;
}
.product:hover {
  box-shadow: 0 3px 3px #011603;
}
.product img {
  width: 100%;
  max-width: 400px;
  border-radius: 15px;
}
.product-info {
  padding: 1rem;
}
.product .card-text {
  font-weight: 600;
}
.product .card-title {
  color: black;
}
.product .card-title:hover {
  transform: scale(1.03);
}
.rating span {
  color: #ff938d;
}
.img-large {
  max-width: 100%;
}
/*CARTSCREEN*/
.navbar-light .navbar-nav .nav-link {
  color: #b8bcc0;
}
.navbar-light .navbar-nav .nav-link:focus {
  color: #b8bcc0;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #b8bcc0ac;
}
.img-thumbnail {
  height: 80px;
}
/*SIGNINSCREEN*/
.small-container {
  max-width: 600px;
}
/*CHECKOUT SCREEN*/
.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #ff938d;
  color: #ff938d;
}
/*ORDERSCREEN*/
.paypal-container {
  box-sizing: border-box;
  width: 80%;
  padding: 0;
}
.paypal-button-container {
  box-sizing: border-box;
  width: 80% !important;
  padding: 0;
}
.paypal-button {
  width: 100px;
}
.buttons-container {
  width: 70%;
}
/*SIDEBAR*/
.navbar-brand {
  font-weight: bold;
}
.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px; /*hidden by default because out of the screen*/
  background-color: #011603;
  transition: 0.5s;
}
.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
}
.active-nav .nav-item .nav-link {
  color: white;
}
.sidebarBtn {
  background-color: transparent;
  margin-right: 0.5rem;
  color: #b8bcc0ac;
}
.sidebarBtn:hover {
  background-color: #b8bcc0ac;
}
.sidebarBtn:focus {
  background-color: #b8bcc0ac;
}
/*SEARCHSCREEN*/
.searchScreen a {
  color: #011603;
}
.text-bold {
  font-weight: bold;
}
/*ProductEditScreen*/
h1 {
  overflow-wrap: break-word;
}

/*MAP*/

.full-box {
  height: 100vh;
  max-width: initial;
}
.full-box header,
.full-box footer {
  display: none;
}
.full-box .container {
  height: 100vh;
  max-width: initial;
  margin: 0;
  padding: 0;
}
.full-box .mt-3 {
  margin-top: 0 !important;
}
.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 3rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}
button.thumbnail {
  padding: 0;
}
