body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
}
.site-container {
  min-height: 100vh; /*main content equal to the height of the screen*/
}

header {
  background-color: #011603;
  padding: 1rem;
}
header span {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

/*PRODUCTS STYLE*/
main {
  padding: 1rem;
}
.btn-primary {
  background-color: #ff938d;
  border: none;
  color: black;
  font-weight: 600;
}
.btn-primary:hover {
  background-color: #ff938d;
  opacity: 0.8;
  color: black;
}
.btn-primary:focus {
  background-color: #ff938d;
  opacity: 0.8;
  color: black;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product {
  border: 2px solid #011603;
  border-radius: 15px;
  margin: 0.5rem;
  min-height: 25rem;
}
.product:hover {
  box-shadow: 0 3px 3px #011603;
}
.product img {
  width: 100%;
  max-width: 400px;
  border-radius: 15px;
}
.product-info {
  padding: 1rem;
}
.product .card-text {
  font-weight: 600;
}
.product .card-title {
  color: black;
}
.product .card-title:hover {
  transform: scale(1.03);
}
.rating span {
  color: #ff938d;
}
.img-large {
  max-width: 100%;
}
